.DS_Store

__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class

*.so
*.pth
*.pt
*.npy
*.swp
*.bin
*.ruff_cache
train.log

cifar_*.png
chaoyang_*.png
flower_*.png
activation_*.png

!cifar_*_summary.png
!chaoyang_*_summary.png

cutlass-3.7.0
cutlass-3.7.0.tar.gz
vim_GEMM.egg-info
build
dist

output.txt
